h1{
    font-family: sans-serif;
    color:cadetblue;
}

li{
    list-style-type: none;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
}

img{
    width: 50%;
    height: 50%;
}