/*-----------Kevin D. Looney DESN 368 W.17---------------*/

@import url('https://fonts.googleapis.com/css?family=Antic|Montserrat|Shrikhand');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}
header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}


header h1{
    background-image: url(../img/mountains.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-size: contain;
    line-height: 300px;
    font-size: 4em;
    font-family: 'Shrikhand';
    color: #92afdc;
    text-shadow: 5px -5px 1px #35604a,
                 -5px 5px 1px #1a4766;

}

main{
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    
}

/*------------------ TOP NAVIGATION ------------------*/
nav{
    background: #1a4766;
    border-radius: 8px;
}

nav ul{
    padding: 0 10px;
    text-align: center;
}

nav li{
    list-style-type: none;
    padding: 10px 0;
    background: #1a4766;
    display: inline-block;
    border-radius: 8px;
}


nav li a{
    text-decoration: none;
    color: #12cbad;
    font-size: 2em;
    padding: 4px;
    margin-left: 5px;
}

section{
    width: 46%;
    height: 300px;
    margin: 10px;
}

footer{
    background: #92afdc;
    height: 6em;
    flex: 1 0 2;
}

footer ul{
    text-align: center;
    padding: 20px;
}

footer li{
  list-style-type: none;
  padding: 5px 0;
  display: inline-block;
}

footer a{
    text-decoration: none;
    color: #1a4766;
    font-size: 1.5em;
    padding: 8px;
}


/*--------------------- HOMEPAGE ---------------------*/
#homepage{
    display: flex;
    justify-content: center;
}

#homepage section p{
    background: #92afdc;
    font-size: .85em;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#homepage section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#homepage section img{
    border-radius: 8px;
    width: 60%;
    margin:auto;
    margin-bottom: 10px;
}

/*----------------------- RESUME -----------------------*/
.resume section{
    width: 100%;
    margin: 0;
    height: auto;
    padding-bottom: 8px;
    
}

.resume section:nth-child(odd){
    background: #12cbad;
}

.resume aside{
    margin: auto;
    text-align: center;
}
.resume aside h6{
    font-size: 1.46em;
}

.resume img{
    border-radius: 8px;
    box-shadow: 2px 2px 3px #666;
    width: 22%;
/*    height: 22%;*/
    margin-left: 16px;
    margin-top: 16px;
}
.resume{
    color: #1a4766;
    background: #92afdc;
    border-radius: 8px;
}
.resume a{
    color: #1a4766;
    text-decoration: none;
}
.resume a:hover{
    color: #12cbad;
    text-decoration: none;
}
.resume a:active{
    color: #1a4766;
    text-shadow: 2px 2px #fff;
}

.resume h1{
    padding: 3px;
    background: #1a4766;
    color: #12cbad;
    font-size: 1.4em;
    text-transform: uppercase;
}

.topline{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.resume h2{
    margin-left: 16px;
    width: 60%;
    border-radius: 10px;
    padding: 4px 0 4px 12px;
    font-size: 1.1em;
}

.resume h3{
    margin-left: 32px;
    font-size: .9em;
}

.resume h4{
    margin-left: 26px;
    font-size: .88em;
    width: 75%;
}


/*--------------------------- CONTACT -----------------------*/
label, input{
    display: block;
    font-size: 2em;
    width: 85%;
}

label{
    padding-top: 60px;
}

form{
/*    background: #ccc;*/
    width: 40%;
    padding: 30px;
}
input[type="submit"]{
    margin-top: 20px;
    border-radius: 6px;
    padding: 8px;
    background: #12cbad;
    color: #fff;
}
textarea{
    padding: 6px;
}

#contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#contact section{
    height: auto;
}
#contact img{
    width: 40%;
}



/* ---------- LIGHTBOX ------------ */

/* Thumb */
figure{
    background: #92afdc;
    width: 13em;
    padding: 8px;
    margin: 28px 8px 0 8px;
    border-radius: 8px;
}
figure img{
    width: 100%;
    border-radius: 8px; 
/*
    margin-right: auto;
    margin-left: auto;
*/
}
figcaption{
    color: #3c4248;
    
}
/* Fullsize */

/* hide it */
.overlay{
  display: none;

/* Overlay Styling*/
  position: absolute;
  background: rgba(53, 96, 74, .88);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* show it */
.overlay:target{
  display: block;
  
  /* Content of Overlay */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

.overlay img{
  border: 2px solid white;
  animation: fadeish 1s;
}

/* Animation */
@keyframes fadeish {
  0% { opacity: 0;
        transform: scale(0);
      }
  100% { opacity: 1;
         transform: scale(1);
      }
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.overlay h2{
    color: #fff;
    
}

/*----------- MEDIA QUERIES ---------------*/

/* --------- MOBILE -----------*/
@media only screen 
  and (min-width: 10em) 
  and (max-width: 47.9375em){

    header,
    main{
        width: 100%;
    }
    
    section{
        width: 100%;
        flex-direction: column;
    }
    nav{
        min-width: 200px;
    }
    
    nav ul {
    padding: 0 10px;
    text-align: center;
    }
    
    nav li{
      list-style-type: none;
      padding: 5px 0;
      display: block;
    }
    
    header{
        flex-direction: column;
    }
      header h1{
    background-image: url(../img/mountains.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-size: contain;
    line-height: 300px;
    font-size: 2.2em;
    font-family: 'Shrikhand';
    color: #92afdc;
    text-shadow: 5px -5px 1px #35604a,
                 -5px 5px 1px #1a4766;

}
    footer a{
        text-decoration: none;
        color: #1a4766;
        font-size: 1.1em;
        padding: 8px;
}
    #homepage section img{
        border-radius: 8px;
        width: 40%;
        margin:auto;
        margin-top: 50px;
        margin-bottom: 10px;
}
    
}

/* -------- Tablet/Desktop ----------*/
@media only screen 
  and (min-width: 48em) 
    and (max-width: 63.9375em){
    a{
        text-decoration: none;
        color: #12cbad;
        font-size: 1.6em;
    }
    
    label, input{
        display: block;
        font-size: 1.2em;
        width: 85%;
    }
    
    nav{
        min-width: 680px;
    }
    
    nav li a{
        text-decoration: none;
        color: #12cbad;
        font-size: 1.75em;
        padding: 4px;
        margin-left: 5px;
    /*    display: inline-block;*/
    }
    
    header h1{
    background-image: url(../img/mountains.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-size: contain;
    line-height: 300px;
    font-size: 2.2em;
    font-family: 'Shrikhand';
    color: #92afdc;
    text-shadow: 5px -5px 1px #35604a,
                 -5px 5px 1px #1a4766;
}
    
    footer a{
    text-decoration: none;
    color: #1a4766;
    font-size: 1.1em;
    padding: 8px;
}
    
    
}

